{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>List of Fire Trucks</h2>
    
    <form method="get" class="form-inline mb-3">
        <input type="text" name="q" class="form-control mr-2" placeholder="Search" value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </form>
      <a href="{% url 'firetruck_create' %}" class="btn btn-primary mb-3">Add New Fire Truck</a>
    <table class="table">
        <thead>
            <tr>
                <th>Truck Number</th>
                <th>Model</th>
                <th>Capacity</th>
                <th style="width: 300px;">Station</th> <!-- Set width to 100px or adjust as needed -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for truck in firetrucks %}
            <tr>
                <td>{{ truck.truck_number }}</td>
                <td>{{ truck.model }}</td>
                <td>{{ truck.capacity }}</td>
                <td>{{ truck.station }}</td>
                <td>
                    <a href="{% url 'firetruck_update' truck.pk %}" class="btn btn-sm btn-primary" style="max-width: 80px;">Edit</a>
                    <a href="{% url 'firetruck_delete' truck.pk %}" class="btn btn-sm btn-danger" style="max-width: 80px;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
</div>
{% endblock %}
