{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-header">
          <h3 class="card-title">Delete Firefighter</h3>
        </div>
        <div class="card-body text-center">
          <p>Are you sure you want to delete "{{ firefighter.name }}"?</p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'firefighter_list' %}" class="btn btn-secondary">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
